body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
  background-color: #C0DBD9;
}

.header {
  width: 1170px;
  height: 100px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: #7FAFF6;
  margin-bottom: 15px;

}

.button__modal {
  margin-left: 30px;
  padding: 8px 15px;
  background: #A5C7F9;
  font-size: 20px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.main {
  width: 1170px;
  height: 411px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background: #B3F95A;
  margin-bottom: 15px;
}

.one {
  width: 390px;
  height: 198px;
  background: #8AD191;
  margin-right: 15px;
  background-image: url('../img/1.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.two {
  width: 590px;
  height: 198px;
  background: #8AD191;
  margin-right: 15px;
  margin-bottom: 15px;
  background-image: url('../img/2.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.three {
  width: 160px;
  height: 198px;
  background: #8AD191;
  background-image: url('../img/3.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.four {
  width: 995px;
  height: 198px;
  background: #8AD191;
  margin-right: 15px;
  margin-bottom: 15px;
  background-image: url('../img/4.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.five {
  width: 160px;
  height: 198px;
  background: #8AD191;
  background-image: url('../img/5.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.block2 {
  max-width: 1170px;
  background: #88B5BF;
  margin: 0 auto 100px;
  padding: 30px;
  box-sizing: border-box;
}

.block2__list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.block2__item {
  width: 22.98%;
  background: #0D89B0;
  aspect-ratio: 1.5 / 1.18;
}

.footer {
  max-width: 1170px;
  height: 100px;
  margin: 0 auto;
  background-color: #7FAFF6;
}

/* popup */


.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog>div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  background: #fff;
}


.close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 39px;
  background-color: #7FAFF6;
  margin: 0 auto;
  color: #FFFFFF;
  position: absolute;
  right: 12px;
  text-align: center;
  top: 10px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.popup__text {
  font-size: 53px;
}
